.honours-table {
  border-bottom: 0;
  border-left: 1px solid $light-gray;
  padding: 20px 0 0 10px;

  tr {
    margin-top: 10px;
  }

  td {
    font-size: 15px;
    text-align: center;
    vertical-align: top;
    width: 220px;
  }

  img {
    height: 300px;
    width: 200px;
  }

  .full-name {
    max-width: 200px;
  }
}

#honours-board-tab {
  margin-bottom: 0;

  .active {
    a {
      color: $gray;
    }
  }
}

