// Colors
$almost-black: rgba(0, 0, 0, 0.175);
$light-black: #222;
$dark-gray: #333;
$gray: #444;
$light-gray: #ddd;
$lighter-gray: #f5f5f5;
$pale-cyan: #fafeff;
$lavenderblush: #fff0f5;
$white: #ffffff;
$dark-blue: #13192e;
$strong-blue: #0044cc;
$moderate-blue: #484eb5;
$grayish-blue: #9dabce;
$light-grayish-blue: #e7ecf2;
$bright-red: #de2346;
$grayish-cyan: #88adab;
$dictionary-inactive: #70706f;
$teachers-container: #fbfbfb;

$social-icon: #bbbbbb;
$vkontakte: #45668e;
$facebook: #3b5998;
$twitter: #4099ff;
$gplus: #bc3627;

$summary: #56a1d2;
$graduate-link-highlight: rgba(53, 135, 189, 0.67);

// Sidebar
$sidebar-background: #2980b9;
$sidebar-link-highlight: #c0392b;
$sidebar-border-color: #eee;

// Widgets
$widget-link-highlight: #069;
$danger-link-highlight: #a83225;

// Sizing
$footer-height: 66px;

// Fonts
$font-stack: Verdana, Tahoma, Arial, sans-serif;
