// Core variables and mixins
@import "variables";
@import "mixins";

html,
body {
  background: $pale-cyan;
  color: $gray;
  font-size: 16px;
  height: 100%;
  text-align: justify;
  text-shadow: none;
}

// Wrapper for page content to push down footer
#wrap {
  // Negative indent footer by it's height
  margin: 0 auto -60px;
  min-height: 100%;
}

.proper-content {
  padding-top: $footer-height;
  // 60px to make the container go all the way to the bottom of the topbar
}

// Set the fixed height of the footer here

#push,
footer {
  height: $footer-height;
}

footer {
  background-color: $lighter-gray;
}

// Lastly, apply responsive CSS fixes as necessary
@media (max-width: 767px) {
  footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.container {
  .credit {
    margin: 20px 0;
  }
}

#feed-range {
  border: 1px solid $white;
  cursor: pointer;
  padding: 5px 10px;

  &:hover {
    background-color: $widget-link-highlight;
  }
}

#rssdata .rss-items {
  display: none;
  margin: 0;
  padding: 0;

  li {
    display: block;
    margin: 0;
    padding: 0;
  }

  a {
    background: $sidebar-background;
    border-bottom: 1px solid $sidebar-border-color;
    color: $white;
    display: block;
    font: 15px / 16px $font-stack;
    margin: 0;
    padding: 5px;
    text-decoration: none;

    &:hover {
      background: $sidebar-link-highlight;
      color: $white;
      text-decoration: none;
    }
  }
}

#rsstitle {
  border-bottom: 2px solid $sidebar-border-color;
  color: $white;
  font: 17px / 18px bold $font-stack;
  height: 25px;
  padding: 6px;
  text-decoration: none;
}

#rssbottom {
  background: $sidebar-background;
  border-top: 2px solid $sidebar-border-color;
  color: $white;
  height: 20px;
  padding: 2px 6px;
  text-decoration: none;
}

#twitter-title {
  border-bottom: 2px solid $sidebar-border-color;
  color: $white;
  font: 17px / 18px bold $font-stack;
  height: 25px;
  padding: 6px;
  text-decoration: none;
}

.white {
  color: $white;
}

.article {
  .thumbnail {
    margin: 15px;
  }
}

a {
  color: $sidebar-background;

  &:hover {
    color: $sidebar-link-highlight;
  }

  &:focus {
    outline: thin dotted $sidebar-link-highlight;
    outline-offset: -2px;
  }
}

.well {
  background-color: $sidebar-background;

  li a {
    color: $white;
  }
}

.media-body {
  .thumbnail {
    background-color: $white;

    &:hover {
      background-color: $sidebar-link-highlight;
    }
  }
}

#sidebar {
  .well,
  h2,
  a {
    color: $white;
  }

  a:hover {
    color: $sidebar-link-highlight;
  }
}

#panel1,
#panel2,
#panel3 {
  background: $sidebar-background;
  color: $white;
  display: none;
  height: 40px;
  padding: 5px;
  width: 225px;
}

#photo-feed {
  > .span3 {
    height: 350px;
    margin: 5px 5px 25px;
  }

  .thumbnail {
    height: inherit;

    > img {
      height: 200px;
      width: 210px;
    }

    h4 {
      height: 3em;
      overflow: hidden;
    }
  }

  .caption {
    p {
      font-size: 14px;
    }
  }
}

.twitter-follow-button {
  margin-top: 3px;
}

.btn-danger {
  background: $sidebar-link-highlight;

  &:hover {
    background: $danger-link-highlight;
  }
}

h1,
h2,
h3 {
  color: $dark-blue;
}

.leftimg,
.deanimg {
  height: 300px;
}

.leftimg {
  float: left;
  margin: 10px 10px 20px 0;
}

.deanimg {
  margin: 20px 100px 20px 0;
}

.codehilite {
  clear: left;
}

.badge {
  font-size: 11px;
  padding-bottom: 3px;
  padding-left: 6px;
}

.badge-important {
  background-color: $sidebar-link-highlight;
}

#loader {
  background-color: $sidebar-link-highlight;
  margin-bottom: 20px;
  padding-bottom: 3px;
}

#spinner {
  display: inline;
  margin-right: 3px;
}

*::selection,
*::-moz-selection,
*::-webkit-selection {
  background: $bright-red;
  color: $white;
}

@import "social_buttons";
@import "navigation";

* {
  // old-style reset here
  border: 0;
  padding: 0;
}

table {
  border: 1px solid $grayish-blue;
  border-collapse: separate;
  border-width: 0 0 1px 1px;
  font-size: 20px;
}

th {
  font-size: 14px;
  font-weight: bold;
  position: relative;
  text-align: center;
  vertical-align: middle;
}

td:hover,
th:hover {
  background-position: 0 -81px;
  color: $light-black;
}

.events {
  position: relative;

  ul {
    @include border-radius(3px);
    @include box-shadow(0 8px 8px $dark-gray);
    background: $light-grayish-blue;
    display: none;
    font-size: 15px;
    list-style: none;
    min-width: 200px;
    padding: 15px;
    position: absolute;
    text-align: left;
    z-index: 1000;
  }

  li {
    padding-bottom: 5px;

    span {
      color: $gray;
      display: block;
      font-size: 12px;
      text-align: justify;

      &.title {
        color: $light-black;
        font-weight: bold;
      }
    }
  }
}

// applicants help

.table-help-inf {
  border: 1px solid;
  border-collapse: collapse;
  font-size: 13px;
  margin-top: 30px;
  width: 572px;

  th {
    border: 1px solid;
  }

  td {
    border: 1px solid $light-gray;
    padding-left: 3px;
  }
}

.table-help {
  text-align: center;
}

// student council

.i2style {
  @include box-shadow(1px -12px 0 $moderate-blue);
  border: 0 solid $white;
  color: $white;
  cursor: pointer;
  font: bold 24px Tahoma, Geneva, sans-serif;
  margin: 0 auto;
  padding: 10px;
  text-shadow: 0 -1px 1px $light-black;
  width: 575px;

  &:active {
    cursor: pointer;
    position: relative;
    top: 2px;
  }

  ~ img {
    margin-bottom: 35px;
  }
}

.widget-item {
  @include transition(opacity, 0.5s, ease);
  height: 180px;
  opacity: 0.75;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  position: relative;

  &:hover {
    opacity: 1;
  }

  a {
    display: block;
    font-size: 22px;
    height: 100%;
    position: relative;
    text-decoration: none;
    width: 100%;

    > div {
      bottom: 0;
      left: 0;
      padding: 16px 16px 20px;
      position: absolute;
      right: 0;
    }
  }

  &.blue {
    a {
      > div {
        background-color: $widget-link-highlight;
        color: $white;
      }
    }
  }

  &.schedule {
    background: url("../img/schedule.jpg") center center;
    background-size: cover;
  }

  &.reference {
    background: url("../img/reference.jpg") center center;
    background-size: cover;
  }

  &.announcement {
    background: url("../img/announcement.jpg") center center;
    background-size: cover;
  }

  &.relax {
    background: url("../img/relax.jpg") center center;
    background-size: cover;
  }

  &.dictionary {
    background: url("../img/dictionary.jpg") center center;
    background-size: cover;
  }

  &.safe-internet {
    background: url("../img/safe_internet.jpg") center center;
    background-size: cover;
  }
}

#calendar {
  margin: 0 auto;
  max-width: 900px;
}

.link-box-graduate {
  a {
    @include border-radius(6px);
    background: $sidebar-background;
    color: $white;
    display: inline-block;
    font-size: 150%;
    line-height: 24px;
    margin-bottom: 25px;
    padding: 15px 0;
    text-align: center;
    width: 100%;

    &:hover {
      background: $graduate-link-highlight;
    }
  }
}

details {
  margin: 15px 0;
}

summary {
  @include border-radius(5px);
  background: linear-gradient(to top, $summary, $sidebar-background);
  color: $white;
  cursor: pointer;
  padding: 5px;
}

@import "faculty_structure";
@import "honours_board";

.relax-container,
.finance-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.relax-item {
  margin-bottom: 20px;
  width: 200px;
}

.relax-img {
  height: 150px;
}

.relax-description {
  background: $lavenderblush;
  height: 40px;
  padding: 8px;
}

.finance-item {
  background: $sidebar-background;
  height: 150px;
  margin-bottom: 20px;
  padding: 0 15px;
  text-align: center;
  width: 250px;

  a:hover {
    text-decoration: none;
  }

  h3 {
    color: $white;
  }
}

@import "partners";

.dictionary-container {
  a {
    color: $white;
    float: left;
    font-size: 50px;
    line-height: 80px;
    list-style: none;
    margin-left: 37px;
    margin-top: 25px;
    text-align: center;
    text-decoration: none;
    width: 80px;
  }

  a:nth-child(8n+1) {
    margin-left: 0;
  }
}

.dictionary-active {
  background: $sidebar-background;

  &:hover {
    background: $sidebar-link-highlight;
  }
}

.dictionary-inactive {
  background: $dictionary-inactive;
}
