html, body {
  height: 100%;
  text-align: justify;
  color: #444;
  font-size: 16px;
  text-shadow: none;
  background: #FAFEFF;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

.proper-content {
  padding-top: 66px;
  /* 60px to make the container go all the way to the bottom of the topbar */
}

/* Set the fixed height of the footer here */

#push, #footer {
  height: 66px;
}

#footer {
  background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left:  -20px;
    margin-right: -20px;
    padding-left:  20px;
    padding-right: 20px;
  }
}

.container .credit {
  margin: 20px 0;
}

#feed-range {
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #fff;
}

#feed-range:hover {
    background-color: #002a80;
}

#rssdata ul.rss-items {
  display: none;
  margin:  0;
  padding: 0;
}

#rssdata ul.rss-items li {
  display: block;
  margin:  0;
  padding: 0;
}

#rssdata ul.rss-items a {
  margin: 0;
  display: block;
  font: 15px/16px  Verdana, Tahoma, Arial, sans-serif;
  padding: 5px;
  background: #2980b9;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid #eee;
}

#rssdata ul.rss-items a:hover {
  background: #c0392b;
  color: #fff;
  text-decoration: none;
}

#rsstitle {
  padding: 6px 6px;
  color: #fff;
  font: 17px/18px bold Verdana, Tahoma, Arial, sans-serif;
  text-decoration: none;
  border-bottom: 2px solid #eee;
}

#rssbottom {
  padding: 2px 6px;
  background: #2980b9;
  color: #fff;
  text-decoration: none;
  border-top: 2px solid #eee;
}

#twitter ul.twits {
  display: none;
  margin:  0;
  padding: 0;
}

#twitter ul.twits li {
  display: block;
  margin:  0;
  padding: 0;
}

#twitter ul.twits a.tw {
  margin: 0;
  display: block;
  font: 15px/16px  Verdana, Tahoma, Arial, sans-serif;
  padding: 5px;
  background: #2980b9;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid #eee;
}

#twitter ul.twits a.tw:hover {
  background: #c0392b;
  color: #c0392b;
  text-decoration: none;
}

#twitter_title {
  padding: 6px;
  color: #fff;
  font: 17px/18px bold Verdana, Tahoma, Arial, sans-serif;
  text-decoration: none;
  border-bottom: 2px solid #eee;
}

#twitter_bottom {
  padding: 2px 6px;
  background: #2980b9;
  color: #fff;
  text-decoration: none;
}

.white {
  color: #FFFFFF;
}

a.white {
  color: #FFFFFF;
}

a.white:hover {
  color: #FFFFFF;
}

.article .thumbnail {
  margin: 15px;
}

a {
  color: #2980b9;
}

a:hover {
   color: #c0392b;
}

a:focus {
  outline: thin dotted #c0392b;
  outline-offset: -2px;
}

.well li a {
  color: #FFFFFF;
}

a.thumbnail {
  background-color: #FFFFFF;
}

.well {
  background-color: #2980b9;
}

#sidebar .well, #sidebar h2, #sidebar a  {
  color: #FFFFFF;
}

#sidebar a:hover {
  color: #c0392b;
}

#panel1,
#panel2,
#panel3 {
  display: none;
  padding: 5px;
  width: 225px;
  height: 40px;
  background: #2980b9;
  color: #fff;
}

a.thumbnail:hover {
  background-color: #c0392b;
}

a:focus {
  outline: thin dotted #c0392b;
}

#photo-feed.thumbnails > .span3 {
  height: 350px;
  margin: 5px;
}

.twitter-follow-button {
  margin-top: 3px;
}

.btn-danger {
  background-color: #c0392b;
}

.btn-danger:hover {
  background-color: #a83225;
}

h1, h2, h3 {
  color: #13192E;
}

.leftimg {
  height: 300px;
  float:  left;
  margin: 10px 10px 20px 0;
}

.deanimg {
  height: 300px;
  margin: 20px 100px 20px 0;
}

.badge {
  padding-left: 6px;
  padding-bottom: 3px;
  font-size: 11px;
}

.badge-important {
  background-color: #c0392b;
}

#loader {
  background-color: #c0392b;
  margin-bottom: 20px;
  padding-bottom: 3px;
}

#spinner {
  display: inline;
  margin-right: 3px;
}

*::selection { background: #de2346; color: #fff; }
*::-moz-selection { background: #de2346; color: #fff; }
*::-webkit-selection { background: #de2346; color: #fff; }

/* Social Buttons */

.b-share a[data-service], #rss a {
  -webkit-transition-property: color, text;
  -webkit-transition-duration: .4s, .4s;
  -webkit-transition-timing-function: linear, ease-in;
  -moz-transition-property: color, text;
  -moz-transition-duration: .4s;
  -moz-transition-timing-function: linear, ease-in;

  -o-transition-property: color, text;
  -o-transition-duration: .4s;
  -o-transition-timing-function: linear, ease-in;
}

.b-share a[data-service='vkontakte'],
.b-share a[data-service='facebook'],
.b-share a[data-service='twitter'],
.b-share a[data-service='gplus'],
#rss a {
  color: #bbbbbb;
}

.b-share a[data-service='vkontakte']:hover {
  color: #45668e;
}

.b-share a[data-service='facebook']:hover {
  color: #3b5998;
}

.b-share a[data-service='twitter']:hover {
  color: #4099ff;
}

.b-share a[data-service='gplus']:hover {
  color: #bc3627;
}

.fa {
  line-height: inherit;
}

#rss {
  display: inline-block;
  vertical-align: middle;
  font: 86%/1.4545em Arial, sans-serif
}

#rss a:hover {
  color: #fa9b39;
}

/* Navigation */

.navbar-inverse .brand:hover,
.navbar-inverse .nav > .active > a,
.navbar-inverse .nav > .active > a:hover,
.navbar-inverse .nav > .active > a:focus {
  background-color: #c0392b;
}

.navbar-inner {
  background-color: #2980b9;
}

.navbar-inverse .navbar-inner {
  background-color: #2980b9;
}

.navbar .brand {
  max-height: 50px;
  overflow: visible;
  padding: 0 3px;
  margin-right: 3px;
  margin-left: 3px;
}

.nav {
  font-size: 14px;
}

.nav, .nav ul {
  text-align: left;
  display: inline;
  margin: 0;
  list-style: none;
}

.nav li {
  display: inline-block;
  margin-right: -4px;
  position: relative;
  background: #2980b9;
  color: #ffffff;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.nav li:hover {
  background: #c0392b;
  color: #ffffff;
}

.nav li a {
  color: #ffffff;
}

.nav > li > ul {
  padding: 0;
  position: absolute;
  top: 50px;
  left: 0;
  min-width: 150px;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
  -webkit-box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3;
  box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3;
}

.nav ul > li {
  background: #ffffff;
  display: block;
}

.nav > li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

.nav b.caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
  margin-top: 8px;
}

.nav li > a {
  display: block;
  padding: 15px 20px 16.5px;
  color: #555555;
  white-space: nowrap;
}

.nav li > a:hover {
  text-decoration: none;
  color: #ffffff;
}

.nav ul > li > a {
  padding: 6px 10px;
}

.nav > li > span {
  display: inline-block;
  height: 20px;
  padding: 15px;
  cursor: pointer;
}
