html, body {
  height: 100%;
  text-align: justify;
  color: #444;
  font-size: 16px;
  text-shadow: none;
  background: #FAFEFF;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

.proper-content {
  padding-top: 66px;
  /* 60px to make the container go all the way to the bottom of the topbar */
}

/* Set the fixed height of the footer here */

#push, #footer {
  height: 66px;
}

#footer {
  background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left:  -20px;
    margin-right: -20px;
    padding-left:  20px;
    padding-right: 20px;
  }
}

.container .credit {
  margin: 20px 0;
}

#feed-range {
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #fff;
}

#feed-range:hover {
    background-color: #002a80;
}

#rssdata ul.rss-items {
  display: none;
  margin:  0;
  padding: 0;
}

#rssdata ul.rss-items li {
  display: block;
  margin:  0;
  padding: 0;
}

#rssdata ul.rss-items a {
  margin: 0;
  display: block;
  font: 15px/16px  Verdana, Tahoma, Arial, sans-serif;
  padding: 5px;
  background: #2980b9;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid #eee;
}

#rssdata ul.rss-items a:hover {
  background: #c0392b;
  color: #fff;
  text-decoration: none;
}

#rsstitle {
  padding: 6px 6px;
  color: #fff;
  font: 17px/18px bold Verdana, Tahoma, Arial, sans-serif;
  text-decoration: none;
  border-bottom: 2px solid #eee;
}

#rssbottom {
  padding: 2px 6px;
  background: #2980b9;
  color: #fff;
  text-decoration: none;
  border-top: 2px solid #eee;
}

#twitter ul.twits {
  display: none;
  margin:  0;
  padding: 0;
}

#twitter ul.twits li {
  display: block;
  margin:  0;
  padding: 0;
}

#twitter ul.twits a.tw {
  margin: 0;
  display: block;
  font: 15px/16px  Verdana, Tahoma, Arial, sans-serif;
  padding: 5px;
  background: #2980b9;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid #eee;
}

#twitter ul.twits a.tw:hover {
  background: #c0392b;
  color: #c0392b;
  text-decoration: none;
}

#twitter_title {
  padding: 6px;
  color: #fff;
  font: 17px/18px bold Verdana, Tahoma, Arial, sans-serif;
  text-decoration: none;
  border-bottom: 2px solid #eee;
}

#twitter_bottom {
  padding: 2px 6px;
  background: #2980b9;
  color: #fff;
  text-decoration: none;
}

.white {
  color: #FFFFFF;
}

a.white {
  color: #FFFFFF;
}

a.white:hover {
  color: #FFFFFF;
}

.article .thumbnail {
  margin: 15px;
}

a {
  color: #2980b9;
}

a:hover {
   color: #c0392b;
}

a:focus {
  outline: thin dotted #c0392b;
  outline-offset: -2px;
}

.well li a {
  color: #FFFFFF;
}

a.thumbnail {
  background-color: #FFFFFF;
}

.well {
  background-color: #2980b9;
}

#sidebar .well, #sidebar h2, #sidebar a  {
  color: #FFFFFF;
}

#sidebar a:hover {
  color: #c0392b;
}

.navbar-inverse .brand:hover,
.navbar-inverse .nav > .active > a,
.navbar-inverse .nav > .active > a:hover,
.navbar-inverse .nav > .active > a:focus {
  background-color: #c0392b;
}

.navbar-inner {
  background-color: #2980b9;
}

.navbar-inverse .navbar-inner {
  background-color: #2980b9;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #c0392b
}

.navbar-inverse .brand:hover,
.navbar-inverse .nav > .active > a,
.navbar-inverse .nav > .active > a:hover,
.navbar-inverse .nav > .active > a:focus {
  background-color: #c0392b;
}

a.thumbnail:hover {
  background-color: #c0392b;
}

a:focus {
  outline: thin dotted #c0392b;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  background: #c0392b none;
}

.dropdown-menu > li > a {
  color: #13192E;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-image: -webkit-linear-gradient(top, #c0392b, #c0392b);
  background-image: -moz-linear-gradient(top, #c0392b, #c0392b);
  background-image: -o-linear-gradient(top, #c0392b, #c0392b);
  background-image: -ms-linear-gradient(top, #c0392b, #c0392b);
  background-image: linear-gradient(top, #c0392b, #c0392b);
}

.navbar-inverse .nav > li > a:focus,
.navbar-inverse .nav > li > a:hover {
  background-color: #c0392b;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
  display: block;
}

.dropdown-menu {
  background-color: #FAFEFF;
}

.navbar .brand {
  max-height: 50px;
  overflow: visible;
  padding: 0 3px;
  margin-right: 3px;
  margin-left: 3px;
}

#photo-feed.thumbnails > .span3 {
  height: 350px;
  margin: 5px;
}

.twitter-follow-button {
  margin-top: 3px;
}

.btn-danger {
  background-color: #c0392b;
}

.btn-danger:hover {
  background-color: #a83225;
}

h1, h2, h3 {
  color: #13192E;
}

.nav { font-size: 14px; }

.leftimg {
  height: 300px;
  float:  left;
  margin: 10px 10px 20px 0;
}

.deanimg {
  height: 300px;
  margin: 20px 100px 20px 0;
}

.badge {
  padding-left: 6px;
  padding-bottom: 3px;
  font-size: 11px;
}

.badge-important {
  background-color: #d6d6d6;
}

#loader {
  background-color: #c0392b;
  margin-bottom: 20px;
}

*::selection { background: #de2346; color: #fff; }
*::-moz-selection { background: #de2346; color: #fff; }
*::-webkit-selection { background: #de2346; color: #fff; }
