<div class="nav-collapse collapse">
  {% block navigation %}
    {% if '_nav' in page.tags %}
      <ul class="nav">
        {% for menu_entry in site.tags.get('_menu') | sort(attribute='menu_index') %}
          {% if menu_entry.subpages %}
            <li>
              <span>
                {{ menu_entry.menu }}
                <b class="caret"></b>
              </span>
              <ul class="subnav">
                {% if not "_ignore_nav" in menu_entry.tags %}
                  <li><a href="{{ menu_entry.url }}">{{ menu_entry.menu }}</a></li>
                {% endif %}
                {% for subpage in menu_entry.subpages | sort(attribute='submenu_index')  %}
                  {% if not '_eng' in subpage.tags and not '_ignore_nav' in subpage.tags %}
                    <li><a href="{{ subpage.url }}">{{ subpage.title }}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li {% if menu_entry.url == page.url %}class="active"{% endif %}>
              <a href="{{ menu_entry.url }}" >{{ menu_entry.menu }}</a>
            </li>
          {% endif %}
        {% endfor %}
        {% include "misc/eng_button.html" %}
      </ul>
    {% endif %}
  {% endblock %}
</div>
