<div class="nav-collapse collapse">
{% block navigation %}
    {% if '_nav' in page.tags %}
        <ul class="nav">
            {% for spage in site.pages %}
                {% if spage.menu %}
                    {% if spage.subpages %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                {{ spage.menu }}
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                {% for sub_spage in spage.subpages %}
                                    <li><a tabindex="-1" href="{{ sub_spage.url }}">{{ sub_spage.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% else %}
                        <li class="active">
                            <a href="{{ spage.url }}" {% if spage.title == page.title %}class="active"{% endif %} >{{ spage.menu }}</a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
</div><!--/.nav-collapse -->