<div class="nav-collapse collapse">
{% block navigation %}
    {% if '_nav' in page.tags %}
        <ul class="nav">
            {% for menu_entry in site.tags.get('_menu')|sort(attribute='menu_index') %}
                {% if menu_entry.subpages %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {{ menu_entry.menu }}
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="{{ menu_entry.url }}">{{ menu_entry.menu }}</a></li>
                            {% for sub_spage in menu_entry.subpages %}
                                {% if not "_eng" in sub_spage.tags %}
                                    <li><a tabindex="-1" href="{{ sub_spage.url }}">{{ sub_spage.title }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                {% else %}
                    <li {% if menu_entry.url == page.url %}class="active"{% endif %}>
                        <a href="{{ menu_entry.url }}" >{{ menu_entry.menu }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
</div><!--/.nav-collapse -->