<div id="partners">
  <div class="viewport">
    <ul class="overview">
      <li>
        <a href="http://president.gov.by/" rel="nofollow" target="_blank">
          <img src="/img/content/partners/president.jpg" alt="Официальный интернет-портал Президента Республики Беларусь">
        </a>
      </li>
      <li>
        <a href="http://www.edu.gov.by/" rel="nofollow" target="_blank">
          <img src="/img/content/partners/minedu.jpg" alt="Министерство образования Республики Беларусь">
        </a>
      </li>
      <li>
        <a href="http://brsm.by/" rel="nofollow" target="_blank">
          <img src="/img/content/partners/brsm.jpg" alt="Белорусский республиканский союз молодежи">
        </a>
      </li>
      <li>
        <a href="http://www.pravo.by/" rel="nofollow" target="_blank">
          <img src="/img/content/partners/pravo.jpg" alt="Национальный правовой интернет-портал Республики Беларусь">
        </a>
      </li>
      <li>
        <a href="http://edubelarus.info/" rel="nofollow" target="_blank">
          <img src="/img/content/partners/bologna.jpg" alt="Информационно-аналитический портал о системе высшего образования Республики Беларусь">
        </a>
      </li>
      <li>
        <a href="http://www.abiturient.by/" rel="nofollow" target="_blank">
          <img src="/img/content/partners/abiturient.jpg" alt="Сайт Абитуриент.by">
        </a>
      </li>
      <li>
        <a href="http://www.belarus.by/ru" rel="nofollow" target="_blank">
          <img src="/img/content/partners/belarus.jpg" alt="Официальный сайт Республики Беларусь">
        </a>
      </li>
      <li>
        <a href="http://www.prabiz.by" rel="nofollow" target="_blank">
          <img src="/img/content/partners/pravila_biznesa.png" alt="Консалтинговая компания Правила бизнеса">
	</a>
      </li>
    </ul>
  </div>
</div>
