<script src="/js/tags/tagcanvas.min.js" type="text/javascript"></script>
  <!--[if lt IE 9]><script type="text/javascript" src="/js/tags/excanvas.js"></script><![endif]-->
 <script src="/js/tags.js" type="text/javascript"></script>
 <div id="myCanvasContainer">
 <canvas width="950" height="300" id="myCanvas" style="background-image: url(/img/tags/bg.png);">
 </canvas>
</div> 
<div id="tags">
 <ul>  
  <li><a href="/departments/economic_informatics/"><img src='/img/tags/ei_logo_mid.png'></a></li>
  <li><a href="/departments/economic_cybernetics/"><img src='/img/tags/ek_logo_mid.png'></a></li>
  <li><a href="/departments/national_economy/"><img src='/img/tags/ne_logo_mid.png'></a></li>
  <li><a href="/departments/organization_and_management/"><img src='/img/tags/oiu_logo_mid.png'></a></li>
  <li><a href="/departments/agricultural_economics/"><img src='/img/tags/apk_logo_mid.png'></a></li>
  <li><a href="/departments/environmental_economics/"><img src='/img/tags/epr_logo_mid.png'></a></li>
  <li><a href="/departments/industrial_economics/"><img src='/img/tags/ep_logo_mid.png'></a></li>
  <li><a href="/departments/labor_economics/"><img src='/img/tags/et_logo_mid.png'></a></li> 
 </ul>
</div>

