<div class="container-fluid well">
    <div id="twitter">
        <div id="twitter_title" style="height: 25px;">
        	<img src="/img/logos/twitter/logo_min.png">
            <b>Мы в твиттер</b></div>
            <ul class="twits rotate"></ul>
        <div id="twitter_bottom" style="height: 20px;">
        	<a href="https://twitter.com/FMBseu" class="twitter-follow-button" data-show-count="false" data-lang="ru">Читать @FMBseu</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
    </div>
</div>
