{% extends"base.html" %}
{% block base_content %}
<div class="container-fluid">
  {% include"widgets/tags.html" %}
  {% block main_content %}
  <script>
    jQuery(function() {
      jQuery('base').remove();
      jQuery( "#tabs" ).tabs();
    });

  </script>
  <style>
    .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
      float: left;
      padding: 0.4em .56em;
      text-decoration: none;
    }

    .ui-widget-header {
      background: #41A5C2;
    }
  </style>
  <h2>{{ page.title }}</h2>
  <p>
    Профессия педагога – одна из важнейших в обществе, от его усилий зависит будущее страны. Преподаватель – это единственный человек, который большую часть своего времени профессионально занимается обучением, воспитанием и развитием молодого поколения, что выступает главными составляющими его деятельности. Так было и будет всегда.

    Преподаватели факультета менеджмента – люди особенные. Они увлеченные, интересные и не только как педагоги, но как ученые и воспитатели, которыми можно гордиться.

    Педагог, в первую очередь, должен быть высокоинтеллектуальным человеком, тогда он будет интересен и своим ученикам. Именно этому принципу следуют наши преподаватели, совершенствуясь в своей профессии. Свидетельство тому – учебная и научная биография каждого из них.
  </p>
  <div class="academin-tabs">
    <div id="tabs">
      <ul>
        <li><a href="/fm/academics/#tabs-1">А</a></li>
        <li><a href="/fm/academics/#tabs-2">Б</a></li>
        <li><a href="/fm/academics/#tabs-3">В</a></li>
        <li><a href="/fm/academics/#tabs-4">Г</a></li>
        <li><a href="/fm/academics/#tabs-5">Д</a></li>
        <li><a href="/fm/academics/#tabs-6">Е</a></li>
        <li><a href="/fm/academics/#tabs-7">Ж</a></li>
        <li><a href="/fm/academics/#tabs-8">З</a></li>
        <li><a href="/fm/academics/#tabs-9">И</a></li>
        <li><a href="/fm/academics/#tabs-10">К</a></li>
        <li><a href="/fm/academics/#tabs-11">К</a></li>
        <li><a href="/fm/academics/#tabs-12">М</a></li>
        <li><a href="/fm/academics/#tabs-13">Н</a></li>
        <li><a href="/fm/academics/#tabs-14">О</a></li>
        <li><a href="/fm/academics/#tabs-15">П</a></li>
        <li><a href="/fm/academics/#tabs-16">Р</a></li>
        <li><a href="/fm/academics/#tabs-17">С</a></li>
        <li><a href="/fm/academics/#tabs-18">Т</a></li>
        <li><a href="/fm/academics/#tabs-19">Ф</a></li>
        <li><a href="/fm/academics/#tabs-20">Х</a></li>
        <li><a href="/fm/academics/#tabs-21">Ч</a></li>
        <li><a href="/fm/academics/#tabs-22">Ш</a></li>
        <li><a href="/fm/academics/#tabs-23">Ю</a></li>
      </ul>
      <div id="tabs-1">
        <div class="teachers-a">
          <a href="/academics/aksen/">Аксень Э.М.</a>
          <a href="/academics/akulich/">Акулич В.А.</a>
          <a href="/academics/asanovich/">Асанович В.Я.</a>
        </div>            </div>
      <div id="tabs-2"> <a href="/academics/badina/">Бадьина В.М</a>
        <a href="/academics/baldin/">Балдин И.В.</a>
        <a href="/academics/belousova/">Белоусова Т.Н.</a>
        <a href="/academics/belyavskiy/">Белявский С.С.</a>
        <a href="/academics/belyatskiy/">Беляцкий Н.П.</a>
        <a href="/academics/berezun/">Березун О.А.</a>
        <a href="/academics/bogdan/">Богдан Н.И.</a>
        <a href="/academics/bogdashits/">Богдашиц Е.А.</a>
        <a href="/academics/bodrova/">Бодрова Э.М.</a>
        <a href="/academics/borodina/">Бородина Т.А.</a>
        <a href="/academics/borodko/">Бородко Т.Л.</a>
        <a href="/academics/bulova/">Булова А.Д.</a>
        <a href="/academics/buhovets/">Буховец Т.В.</a></div>
      <div id="tabs-3"><div class="teachers-v">
        <a href="/academics/valetko/">Валетко В.В.</a>
        <a href="/academics/vankovich/">Ванкович Г.Р.</a>
        <a href="/academics/verenich_s_i/">Веренич С.И.</a>
        <a href="/academics/verenich_v_a/">Веренич В.А.</a>
        <a href="/academics/vorobieva/">Воробьева Т.В.</a>
        <a href="/academics/vorontsova/">Воронцов Е.В.</a>
      </div></div>
      <div id="tabs-4"><div class="teachers-g">
        <a href="/academics/garkavaya/">Гаркавая В.Г.</a>
        <a href="/academics/geyzler/">Гейзлер П.С.</a>
        <a href="/academics/gerasenko/">Герасенко В.П.</a>
        <a href="/academics/germanovich/">Германович Т.М. </a>
        <a href="/academics/gets/">Гец А.А.</a>
        <a href="/academics/gulin/">Гулин В.Н.</a>
        <a href="/academics/gulina/">Гулина О.В.</a>
      </div></div>
      <div id="tabs-5">        <div class="teachers-d">
        <a href="/academics/dezurko/">Дежурко Л.Ф.</a>
        <a href="/academics/deniseiko/">Денисейко И.В.</a>
        <a href="/academics/dovidova/">Довыдова О.Г.</a>
        <a href="/academics/dorina/">Дорина Е.Б.</a>
      </div>
      </div>
      <div id="tabs-6"><div class="teachers-e">
        <a href="/academics/egorov/">Егоров С.А.</a>
        <a href="/academics/efremov/">Ефремов А.А.</a>
      </div></div>
      <div id="tabs-7"><div class="teachers-zh">
        <a href="/academics/zelezko/">Железко Б.А. </a>
        <a href="/academics/zeludovich/">Желудкевич М.Е.</a>
        <a href="/academics/zudro/">Жудро М.К. </a>
      </div></div>
      <div id="tabs-8"><div class="teachers-z">
        <a href="/academics/zenovchik/">Зеновчик Ю.М.</a>
        <a href="/academics/zenko/">Зенько С.Н.</a>
        <a href="/academics/zorina/">Зорина И.В.</a>
        <a href="/academics/zubik/">Зубик Д.В.</a>
      </div></div>
      <div id="tabs-9"><div class="teachers-i">
        <a href="/academics/ilyin/">Ильин А.И.</a>
        <a href="/academics/ionin/">Ионин В.С.</a>
      </div></div>
      <div id="tabs-10"><div class="teachers-k">
        <a href="/academics/kashanskaya/">Кашанская И.П.</a>
        <a href="/academics/kienya/">Киеня Е.А.</a>
        <a href="/academics/klimov/">Климов Ю.В.</a>
        <a href="/academics/kovshirko/">Ковширко Н.М.</a>
        <a href="/academics/korzun/">Корзун Т.С.</a>
        <a href="/academics/kruk/">Крюк Е.В.</a>
        <a href="/academics/kuropatenkova/">Куропатенкова И.Н.</a>
      </div></div>
      <div id="tabs-11"><div class="teachers-l">
        <a href="/academics/lavrova/">Лаврова Е.В.</a>
        <a href="/academics/lagodich/">Лагодич Л.В.</a>
        <a href="/academics/lashuk/">Лашук С.В.</a>
        <a href="/academics/leschilovskiy/">Лещиловский П.В.</a>
        <a href="/academics/litvinets/">Литвинец В.И.</a>
        <a href="/academics/loban/">Лобан Л.А.</a>
        <a href="/academics/lopachuk/">Лопачук О.Н. </a>
        <a href="/academics/lubasheva/">Лубашева Т.В.</a>
        <a href="/academics/lysenkova/">Лысенкова М.В.</a>
      </div></div>
      <div id="tabs-12"><div class="teachers-m">
        <a href="/academics/maevskaya/">Маевская А.В.</a>
        <a href="/academics/markusenko/">Маркусенко Н.М.</a>
        <a href="/academics/medvedeva/">Медведева О.С.</a>
        <a href="/academics/miksuk/">Миксюк С.Ф.</a>
        <a href="/academics/mironenko/">Мироненко В.А.</a>
        <a href="/academics/mozol/">Мозоль А.В.</a>
        <a href="/academics/molohovich/">Молохович М.В.</a>
        <a href="/academics/moroz/">Мороз В.В. </a>
      </div></div>
      <div id="tabs-13"><div class="teachers-n">
        <a href="/academics/naganovich/">Наганович А.Н.</a>
        <a href="/academics/nemtsova/">Немцова Г.А.</a>
        <a href="/academics/nehorosheva/">Нехорошева Л.Н.</a>
      </div></div>
      <div id="tabs-14"><div class="teachers-o">
        <a href="/academics/oginskaya/">Огинская А.В.</a>
        <a href="/academics/oskin/">Оськин Д.А.</a>
      </div></div>
      <div id="tabs-15"><div class="teachers-p">
        <a href="/academics/panochina/">Паночина Е.М.</a>
        <a href="/academics/panferov/">Панферов В.Л.</a>
        <a href="/academics/paraschenko/">Паращенко В.В.</a>
        <a href="/academics/petkevich/">Петкевич М.А.</a>
        <a href="/academics/petrichenko/">Петриченко Е.В.</a>
        <a href="/academics/petrovich/">Петрович М.В.</a>
        <a href="/academics/plugachev/">Плюгачев В.В.</a>
        <a href="/academics/podgornaya/">Подгорная Г.Н.</a>
        <a href="/academics/punchik/">Пунчик З.В.</a>
        <a href="/academics/pyko/">Пыко В.Т.</a>
      </div></div>
      <div id="tabs-16"><div class="teachers-r">
        <a href="/academics/romanova/">Романова Е.С.</a>
        <a href="/academics/rudak/">Рудак И.К.</a>
        <a href="/academics/rudenkov/">Руденков В.М.</a>
        <a href="/academics/rutkovskiy/">Рутковский Р.А.</a>
      </div></div>
      <div id="tabs-17"><div class="teachers-s">
        <a href="/academics/samara/">Самара Н.А.</a>
        <a href="/academics/sviderskaya/">Свидерская О.В.</a>
        <a href="/academics/sinica/">Синица Л.М.</a>
        <a href="/academics/sinyavskaya/">Синявская О.А.</a>
        <a href="/academics/smolskaya/">Смольская Н.А.</a>
        <a href="/academics/smolskiy/">Смольский А.П.</a>
        <a href="/academics/sous/">Соусь В.И.</a>
      </div></div>
      <div id="tabs-18"><div class="teachers-t">
        <a href="/academics/tarasevich_v_i/">Тарасевич В.И.</a>
        <a href="/academics/tarasevich_z_k/">Тарасевич Ж.К.</a>
        <a href="/academics/teleznikov/">Тележников В.И.</a>
        <a href="/academics/terehov/">Терехов И.И.</a>
        <a href="/academics/tihonenko/">Тихоненко Т.П.</a>
        <a href="/academics/tkachenko/">Ткаченко С.С.</a>
        <a href="/academics/trushin/">Трушин Ю.М.</a>
        <a href="/academics/turko/">Турко В.А.</a>
      </div></div>
      <div id="tabs-19"><div class="teachers-f">
        <a href="/academics/filipovich/">Филипович Т.Н.</a>
      </div></div>
      <div id="tabs-20"><div class="teachers-h">
        <a href="/academics/holod/">Холод Н.И.</a>
      </div></div>
      <div id="tabs-21"><div class="teachers-ch">
        <a href="/academics/chitaya/">Читая Г.О. </a>
      </div></div>
      <div id="tabs-22"><div class="teachers-sh">
        <a href="/academics/shavruk/">Шаврук Е.Ю.</a>
        <a href="/academics/shibeko/">Шебеко Н.Г.</a>
        <a href="/academics/shimova/">Шимова О.С.</a>
        <a href="/academics/shipikov/">Шипиков Л.К.</a>
        <a href="/academics/sholomitskaya/">Шоломицкая М.М.</a>
      </div></div>
      <div id="tabs-23"><div class="teachers-u">
        <a href="/academics/ufreeva/">Юферева О.Д.</a>
      </div></div>
    </div>
  </div>

  {% endblock %}
</div>
{% endblock %}