{% extends"base.html" %}
{% block base_content %}
  <div class="container-fluid">
    {% include "content/header_image.html" %}
    {% block main_content %}
      <h2>{{ page.title }}</h2>
      <p>
        Профессия педагога – одна из важнейших в обществе, от его усилий зависит будущее страны. Преподаватель – это единственный человек, который большую часть своего времени профессионально занимается обучением, воспитанием и развитием молодого поколения, что выступает главными составляющими его деятельности. Так было и будет всегда.
      </p>
      <p>
        Преподаватели факультета менеджмента – люди особенные. Они увлеченные, интересные и не только как педагоги, но как ученые и воспитатели, которыми можно гордиться.
      </p>
      <p>
        Педагог, в первую очередь, должен быть высокоинтеллектуальным человеком, тогда он будет интересен и своим ученикам. Именно этому принципу следуют наши преподаватели, совершенствуясь в своей профессии. Свидетельство тому – учебная и научная биография каждого из них.
      </p>
      <div class="tabbable">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab1" data-toggle="tab">А</a></li>
          <li><a href="#tab2" data-toggle="tab">Б</a></li>
          <li><a href="#tab3" data-toggle="tab">В</a></li>
          <li><a href="#tab4" data-toggle="tab">Г</a></li>
          <li><a href="#tab5" data-toggle="tab">Д</a></li>
          <li><a href="#tab6" data-toggle="tab">E</a></li>
          <li><a href="#tab7" data-toggle="tab">Ж</a></li>
          <li><a href="#tab8" data-toggle="tab">З</a></li>
          <li><a href="#tab10" data-toggle="tab">K</a></li>
          <li><a href="#tab11" data-toggle="tab">Л</a></li>
          <li><a href="#tab12" data-toggle="tab">М</a></li>
          <li><a href="#tab13" data-toggle="tab">Н</a></li>
          <li><a href="#tab14" data-toggle="tab">О</a></li>
          <li><a href="#tab15" data-toggle="tab">П</a></li>
          <li><a href="#tab16" data-toggle="tab">Р</a></li>
          <li><a href="#tab17" data-toggle="tab">С</a></li>
          <li><a href="#tab18" data-toggle="tab">Т</a></li>
          <li><a href="#tab19" data-toggle="tab">Ф</a></li>
          <li><a href="#tab20" data-toggle="tab">Х</a></li>
          <li><a href="#tab21" data-toggle="tab">Ч</a></li>
          <li><a href="#tab22" data-toggle="tab">Ш</a></li>
          <li><a href="#tab23" data-toggle="tab">Ю</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab1">
            <ul class="unstyled">
              <li><a href="/academics/aksen/">Аксень Э.М.</a></li>
              <li><a href="/academics/akulich/">Акулич В.А.</a></li>
              <li><a href="/academics/asanovich/">Асанович В.Я.</a></li>
            </ul>
          </div>
          <div class="tab-pane" id="tab2">
            <ul class="unstyled">
              <li><a href="/academics/badina/">Бадьина В.М</a></li>
              <li><a href="/academics/baldin/">Балдин И.В.</a></li>
              <li><a href="/academics/belousova/">Белоусова Т.Н.</a></li>
              <li><a href="/academics/belyavskiy/">Белявский С.С.</a></li>
              <li><a href="/academics/belyatskiy/">Беляцкий Н.П.</a></li>
              <li><a href="/academics/berezun/">Березун О.А.</a></li>
              <li><a href="/academics/bogdan/">Богдан Н.И.</a></li>
              <li><a href="/academics/bogdashits/">Богдашиц Е.А.</a></li>
              <li><a href="/academics/bodrova/">Бодрова Э.М.</a></li>
              <li><a href="/academics/borodina/">Бородина Т.А.</a></li>
              <li><a href="/academics/borodko/">Бородко Т.Л.</a></li>
              <li><a href="/academics/bulova/">Булова А.Д.</a></li>
              <li><a href="/academics/buhovets/">Буховец Т.В.</a></li>
            </ul>
          </div>
          <div class="tab-pane" id="tab3">
            <ul class="unstyled">
              <li><a href="/academics/vankovich/">Ванкович Г.Р.</a></li>
              <li><a href="/academics/verenich_s_i/">Веренич С.И.</a></li>
              <li><a href="/academics/verenich_v_a/">Веренич В.А.</a></li>
              <li><a href="/academics/vorobieva/">Воробьева Т.В.</a></li>
            </ul>
          </div>
          <div class="tab-pane" id="tab4">
            <ul class="unstyled">
              <li><a href="/academics/garkavaya/">Гаркавая В.Г.</a></li>
              <li><a href="/academics/gerasenko/">Герасенко В.П.</a></li>
              <li><a href="/academics/germanovich/">Германович Т.М. </a></li>
              <li><a href="/academics/gets/">Гец А.А.</a></li>
              <li><a href="/academics/gulin/">Гулин В.Н.</a></li>
              <li><a href="/academics/gulina/">Гулина О.В.</a></li>
            </ul>
          </div>
          <div class="tab-pane" id="tab5">
            <ul class="unstyled">
              <li><a href="/academics/dezurko/">Дежурко Л.Ф.</a></li>
              <li><a href="/academics/deniseiko/">Денисейко И.В.</a></li>
              <li><a href="/academics/dovidova/">Довыдова О.Г.</a></li>
              <li><a href="/academics/dorina/">Дорина Е.Б.</a></li>
            </ul>
          </div>
          <div class="tab-pane" id="tab6">
            <ul class="unstyled">
              <li><a href="/academics/egorov/">Егоров С.А.</a></li>
              <li><a href="/academics/efremov/">Ефремов А.А.</a></li>
            </ul>
          </div>
          <div class="tab-pane" id="tab7">
            <ul class="unstyled">
              <li><a href="/academics/zelezko/">Железко Б.А. </a></li>
              <li><a href="/academics/zeludovich/">Желудкевич М.Е.</a></li>
              <li><a href="/academics/zudro/">Жудро М.К. </a></li>
            </ul>
          </div>
          <div class="tab-pane" id="tab8">
            <ul class="unstyled">
              <li><a href="/academics/zenovchik/">Зеновчик Ю.М.</a></li>
              <li><a href="/academics/zenko/">Зенько С.Н.</a></li>
              <li><a href="/academics/zubik/">Зубик Д.В.</a></li>
            </ul>
          </div>
          <div class="tab-pane" id="tab10">
            <ul class="unstyled">
              <li><a href="/academics/kashanskaya/">Кашанская И.П.</a></li>
              <li><a href="/academics/kienya/">Киеня Е.А.</a></li>
              <li><a href="/academics/klimov/">Климов Ю.В.</a></li>
              <li><a href="/academics/kovshirko/">Ковширко Н.М.</a></li>
              <li><a href="/academics/kruk/">Крюк Е.В.</a></li>
              <li><a href="/academics/kuropatenkova/">Куропатенкова И.Н.</a></li>
            </ul>
          </div>
          <div class="tab-pane" id="tab11">
            <ul class="unstyled">
              <li><a href="/academics/lavrova/">Лаврова Е.В.</a></li>
              <li><a href="/academics/lagodich/">Лагодич Л.В.</a></li>
              <li><a href="/academics/lashuk/">Лашук С.В.</a></li>
              <li><a href="/academics/leschilovskiy/">Лещиловский П.В.</a></li>
              <li><a href="/academics/litvinets/">Литвинец В.И.</a></li>
              <li><a href="/academics/loban/">Лобан Л.А.</a></li>
              <li><a href="/academics/lopachuk/">Лопачук О.Н. </a></li>
              <li><a href="/academics/lubasheva/">Лубашева Т.В.</a></li>
              <li><a href="/academics/lysenkova/">Лысенкова М.В.</a></li>
            </ul>
          </div>
          <div class="tab-pane" id="tab12">
            <ul class="unstyled">
              <li><a href="/academics/maevskaya/">Маевская А.В.</a></li>
              <li><a href="/academics/markusenko/">Маркусенко Н.М.</a></li>
              <li><a href="/academics/medvedeva/">Медведева О.С.</a></li>
              <li><a href="/academics/miksuk/">Миксюк С.Ф.</a></li>
              <li><a href="/academics/mironenko/">Мироненко В.А.</a></li>
              <li><a href="/academics/mozol/">Мозоль А.В.</a></li>
              <li><a href="/academics/molohovich/">Молохович М.В.</a></li>
              <li><a href="/academics/moroz/">Мороз В.В. </a></li>
            </ul>
          </div>
          <div class="tab-pane" id="tab13">
            <ul class="unstyled">
              <li><a href="/academics/naganovich/">Наганович А.Н.</a></li>
              <li><a href="/academics/nemtsova/">Немцова Г.А.</a></li>
              <li><a href="/academics/nehorosheva/">Нехорошева Л.Н.</a></li>
            </ul>
          </div>
          <div class="tab-pane" id="tab14">
            <ul class="unstyled">
              <li><a href="/academics/oginskaya/">Огинская А.В.</a></li>
              <li><a href="/academics/oskin/">Оськин Д.А.</a></li>
            </ul>
          </div>
          <div class="tab-pane" id="tab15">
            <ul class="unstyled">
              <li><a href="/academics/panochina/">Паночина Е.М.</a></li>
              <li><a href="/academics/panferov/">Панферов В.Л.</a></li>
              <li><a href="/academics/paraschenko/">Паращенко В.В.</a></li>
              <li><a href="/academics/petkevich/">Петкевич М.А.</a></li>
              <li><a href="/academics/petrichenko/">Петриченко Е.В.</a></li>
              <li><a href="/academics/petrovich/">Петрович М.В.</a></li>
              <li><a href="/academics/plugachev/">Плюгачев В.В.</a></li>
              <li><a href="/academics/podgornaya/">Подгорная Г.Н.</a></li>
              <li><a href="/academics/punchik/">Пунчик З.В.</a></li>
              <li><a href="/academics/pyko/">Пыко В.Т.</a></li>
            </ul>
          </div>
          <div class="tab-pane" id="tab16">
            <ul class="unstyled">
              <li><a href="/academics/romanova/">Романова Е.С.</a></li>
              <li><a href="/academics/rudak/">Рудак И.К.</a></li>
              <li><a href="/academics/rudenkov/">Руденков В.М.</a></li>
              <li><a href="/academics/rutkovskiy/">Рутковский Р.А.</a></li>
            </ul>
          </div>
          <div class="tab-pane" id="tab17">
            <ul class="unstyled">
              <li><a href="/academics/samara/">Самара Н.А.</a></li>
              <li><a href="/academics/sviderskaya/">Свидерская О.В.</a></li>
              <li><a href="/academics/sinica/">Синица Л.М.</a></li>
              <li><a href="/academics/sinyavskaya/">Синявская О.А.</a></li>
              <li><a href="/academics/smolskaya/">Смольская Н.А.</a></li>
              <li><a href="/academics/smolskiy/">Смольский А.П.</a></li>
            </ul>
          </div>
          <div class="tab-pane" id="tab18">
            <ul class="unstyled">
              <li><a href="/academics/tarasevich_v_i/">Тарасевич В.И.</a></li>
              <li><a href="/academics/tarasevich_z_k/">Тарасевич Ж.К.</a></li>
              <li><a href="/academics/teleznikov/">Тележников В.И.</a></li>
              <li><a href="/academics/terehov/">Терехов И.И.</a></li>
              <li><a href="/academics/tihonenko/">Тихоненко Т.П.</a></li>
              <li><a href="/academics/tkachenko/">Ткаченко С.С.</a></li>
              <li><a href="/academics/trushin/">Трушин Ю.М.</a></li>
            </ul>
          </div>
          <div class="tab-pane" id="tab19">
            <ul class="unstyled">
              <li><a href="/academics/filipovich/">Филипович Т.Н.</a></li>
            </ul>
          </div>
          <div class="tab-pane" id="tab20">
            <ul class="unstyled">
              <li><a href="/academics/holod/">Холод Н.И.</a></li>
            </ul>
          </div>
          <div class="tab-pane" id="tab21">
            <ul class="unstyled">
              <li><a href="/academics/chitaya/">Читая Г.О.</a></li>
            </ul>
          </div>
          <div class="tab-pane" id="tab22">
            <ul class="unstyled">
              <li><a href="/academics/shavruk/">Шаврук Е.Ю.</a></li>
              <li><a href="/academics/shibeko/">Шебеко Н.Г.</a></li>
              <li><a href="/academics/shimova/">Шимова О.С.</a></li>
              <li><a href="/academics/shipikov/">Шипиков Л.К.</a></li>
              <li><a href="/academics/sholomitskaya/">Шоломицкая М.М.</a></li>
            </ul>
          </div>
          <div class="tab-pane" id="tab23">
            <ul class="unstyled">
              <li><a href="/academics/ufreeva/">Юферева О.Д.</a></li>
            </ul>
          </div>
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock %}
