{% extends "no_sidebar.html" %}
{% block styles %}
  <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.1/fullcalendar.min.css" rel="stylesheet">
  <link href="/css/custom.css" rel="stylesheet">
{% endblock %}
{% block main_content %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.1/fullcalendar.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.1/lang/ru.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.1/gcal.js"></script>
  <script src="/js/calendar.js"></script>

  <h2>{{ page.title }}</h2>
  {{ page.content }}
{% endblock %}
