{%extends"base.html"%}
{%block base_content%}
<div class="container-fluid">
    {%include"widgets/tags.html"%}
    <div class="row-fluid">
        <div class="span8">
            <!--displaying main page content-->
            <br/>

            <h2>{{page.title}}</h2>
            {{page.content}}
        </div>
        <div class="span4" id="sidebar">
            <!--page sidebar-->
            <br/>

            <div class="container-fluid">
                <img class="media-object" src="/img/logos/depts/{% if " _eng" in page.tags %}{{ page.category.1 }}{%
                else %}{{ page.slug }}{% endif %}.png">
                <br>
            </div>
            {%if not'_eng'in page.tags%}
            {%include"content/tag_by_category.html"%}
            {%endif%}
        </div>
    </div>
</div>
{%endblock%}