{% extends "no_sidebar.html" %}
{% block main_content %}
  <h2>{{ page.title }}</h2>
  <div class="dictionary-container">
    <a href="/dictionary/a/">А</a>
    <a href="/dictionary/b/">Б</a>
    <a href="/dictionary/v/">В</a>
    <a href="/dictionary/g/">Г</a>
    <a href="/dictionary/d/">Д</a>
    <a href="/dictionary/je/">Е</a>
    <a href="/dictionary/zh/">Ж</a>
    <a href="/dictionary/z/">З</a>
    <a href="/dictionary/i/">И</a>
    <a href="/dictionary/k/">К</a>
    <a href="/dictionary/l/">Л</a>
    <a href="/dictionary/m/">М</a>
    <a href="/dictionary/n/">Н</a>
    <a href="/dictionary/o/">О</a>
    <a href="/dictionary/p/">П</a>
    <a href="/dictionary/r/">Р</a>
    <a href="/dictionary/s/">С</a>
    <a href="/dictionary/t/">Т</a>
    <a href="/dictionary/u/">У</a>
    <a href="/dictionary/f/">Ф</a>
    <a href="/dictionary/h/">Х</a>
    <a href="/dictionary/c/">Ц</a>
    <a href="/dictionary/ch/">Ч</a>
    <a href="/dictionary/sh/">Ш</a>
    <a href="/dictionary/sch/">Щ</a>
    <a href="/dictionary/e/">Э</a>
    <a href="/dictionary/ju/">Ю</a>
    <a href="/dictionary/ja/">Я</a>
  </div>
{% endblock %}
