{% extends "no_sidebar.html" %}
{% block main_content %}
  <h2>{{ page.title }}</h2>
  <div class="dictionary-container">
    <a href="/dictionary/a/" class="dictionary-active">А</a>
    <a href="/dictionary/b/" class="dictionary-active">Б</a>
    <a href="/dictionary/v/" class="dictionary-active">В</a>
    <a href="/dictionary/g/" class="dictionary-active">Г</a>
    <a href="/dictionary/d/" class="dictionary-active">Д</a>
    <a class="dictionary-inactive">Е</a>
    <a class="dictionary-inactive">Ж</a>
    <a href="/dictionary/z/" class="dictionary-active">З</a>
    <a href="/dictionary/i/" class="dictionary-active dictionary-no-margin">И</a>
    <a href="/dictionary/k/" class="dictionary-active">К</a>
    <a href="/dictionary/l/" class="dictionary-active">Л</a>
    <a href="/dictionary/m/" class="dictionary-active">М</a>
    <a href="/dictionary/n/" class="dictionary-active">Н</a>
    <a href="/dictionary/o/" class="dictionary-active">О</a>
    <a href="/dictionary/p/" class="dictionary-active">П</a>
    <a class="dictionary-inactive">Р</a>
    <a href="/dictionary/s/" class="dictionary-active dictionary-no-margin">С</a>
    <a href="/dictionary/t/" class="dictionary-active">Т</a>
    <a href="/dictionary/u/" class="dictionary-active">У</a>
    <a href="/dictionary/f/" class="dictionary-active">Ф</a>
    <a href="/dictionary/h/" class="dictionary-active">Х</a>
    <a href="/dictionary/c/" class="dictionary-active">Ц</a>
    <a class="dictionary-inactive">Ч</a>
    <a class="dictionary-inactive">Ш</a>
    <a class="dictionary-inactive dictionary-no-margin">Щ</a>
    <a href="/dictionary/e/" class="dictionary-active">Э</a>
    <a class="dictionary-inactive">Ю</a>
    <a class="dictionary-inactive">Я</a>
</div>
{% endblock %}
