{% extends "no_sidebar.html" %}
{% block main_content %}
  <h2>{{ page.title }}</h2>
  <div class="finance-container">
    <div class="finance-item">
      <a href="/files/stipendii.doc">
        <h3>Размеры стипендий</h3>
      </a>
    </div>
    <div class="finance-item">
      <a href="/files/otrabotki.doc">
        <h3>Стоимость платных услуг</h3>
      </a>
    </div>
    <div class="finance-item">
      <a href="/files/erip.doc">
        <h3>Оплата через ЕРИП</h3>
      </a>
    </div>
  </div>
{% endblock %}
