{% extends "no_sidebar.html" %}
{% block main_content %}
<h2>{{ page.title }}</h2>
<div class="finance-container">
  <a class="container-fluid well" href="/files/stipendii.doc">
    <h2>Размеры стипендий</h2>
	<img src="/img/word.png">
  </a>
  <a class="container-fluid well" href="/files/otrabotki.doc">
    <h2>Стоимость платных услуг</h2>
	<img src="/img/word.png">
  </a>
  <a class="container-fluid well" href="/files/erip.doc">
    <h2>Оплата через ЕРИП</h2>
	<img src="/img/word.png">
  </a>
</div>
{% endblock %}
