{% extends "with_sidebar.html" %}
{% block styles %}
  <!-- custom styles -->
  <link href="/css/daterangepicker.css" rel="stylesheet">
  <link href="/css/custom.css" rel="stylesheet">
{% endblock %}
{% block main_content %}
  <script src="/js/ejs.js"></script>
  <script src="/js/moment.min.js"></script>
  <script src="/js/daterangepicker.js"></script>
  <script src="/js/newsfeed.js"></script>
  <script src="http://vk.com/js/api/openapi.js"></script>
  <script src="https://platform.twitter.com/widgets.js"></script>
  <script>
    VK.init({apiId: 1970055, onlyWidgets: true});
  </script>
  <div id="feed"></div>
  <button id="loader" class="btn btn-small btn-danger">Предыдущие новости</button>
{% endblock %}
{% block sidebar_content %}
  {% include "widgets/teachers_banner.html" %}
  {% include "widgets/feed_datepicker.html" %}
  {% include "widgets/twitter_widget2.html" %}
  {% include "widgets/vk_group.html" %}
  {% include "content/about_faculty.html" %}
  {% include "content/it_is_interesting.html" %}
  {% include "widgets/news_widget.html" %}
{% endblock %}
{% include "modals/comments.html" %}
