{% extends "with_sidebar.html" %}
{% block styles %}
  <!-- custom styles -->
  <link href="/css/daterangepicker.css" rel="stylesheet">
  <link href="/css/custom.css" rel="stylesheet">
{% endblock %}
{% block main_content %}
  <script src="/js/ejs.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.0.0/moment.min.js"></script>
  <script src="/js/daterangepicker.js"></script>
  <script src="/js/newsfeed.js"></script>
  <div id="feed"></div>
  <button id="loader" class="btn btn-small btn-danger">
    <div id="spinner"><img src="/img/spinner.gif"></div>
    Предыдущие новости
  </button>
{% endblock %}
{% block partners %}
  {% include "content/partners.html" %}
{% endblock %}
{% block sidebar_content %}
  {% include "widgets/teachers.html" %}
  {% include "widgets/feed_datepicker.html" %}
  {% include "widgets/anons.html" %}
  {% include "widgets/schedule.html" %}
  {% include "widgets/reference.html" %}
  {% include "widgets/twitter_widget.html" %}
  {% include "widgets/vk_group.html" %}
  {% include "widgets/safe_internet.html" %}
  {% include "widgets/relax.html" %}
  {% include "content/it_is_interesting.html" %}
  {% include "widgets/dictionary.html" %}
  {% include "widgets/news_widget.html" %}
{% endblock %}
