{% extends "no_sidebar.html" %}
{% block main_content %}
  <h2>{{ page.title }}</h2>
  <div class="bg-structure">
    <span class="struct-elem faculty-council">
      <a href="javascript:void(0);">Совет факультета</a>
    </span><br>
    <span class="struct-elem dean-item1">
      <a href="/fm/faculty/deans_office/">Декан</a>
    </span><br>
    <span class="struct-elem prof-union">
      <a href="/fm/faculty/deans_office/">Профбюро сотрудников</a>
    </span>
    <div class="dean-block">
      <span class="struct-elem dean-item2">
        <a href="/fm/faculty/deans_office/">Заместитель декана<br> по учебно-методической<br> работе</a>
      </span>
      <span class="struct-elem dean-item3">
        <a href="/fm/faculty/deans_office/">Заместитель декана<br> по воспитательной и идеологической<br> работе</a>
      </span>
    </div>
    <div class="resize-stud-union">
      <span class="struct-elem starostat">
        <a href="/fm/science/student_science/">СНО</a>
      </span>
      <span class="struct-elem sno">
        <a href="javascript:void(0);">Старостат</a>
      </span>
      <span class="struct-elem stydsovet">
        <a href="/fm/student/council/">Студсовет</a>
      </span>
      <span class="struct-elem profsouz">
        <a href="/fm/student/professional_union/">Профбюро<br>студентов</a>
      </span>
      <span class="struct-elem brsm">
        <a href="/fm/student/brsm/">ПО ОО "БРСМ"</a>
      </span>
    </div>
    <span class="third-block department-head-item-1">
      <a href="/fm/departments/economic_informatics/">Заведующий<br> кафедрой</a>
    </span>
    <span class="third-block department-head-item-2">
      <a href="/fm/departments/agricultural_economics/">Заведующий<br> кафедрой</a>
    </span>
    <span class="third-block department-head-item-3">
       <a href="/fm/departments/economic_cybernetics/">Заведующий<br> кафедрой</a>
    </span>
    <span class="third-block department-head-item-4">
     <a href="/fm/departments/environmental_economics/">Заведующий<br> кафедрой</a>
    </span>
    <span class="third-block department-head-item-5">
      <a href="/fm/departments/organization_and_management/">Заведующий<br> кафедрой</a>
    </span>
    <span class="third-block department-head-item-6">
      <a href="/fm/departments/national_economy/">Заведующий<br> кафедрой</a>
    </span>
    <span class="third-block department-head-item-7">
      <a href="/fm/departments/industrial_economics/">Заведующий<br> кафедрой</a>
    </span>
    <span class="third-block department-item-1">
      <a href="/fm/departments/economic_informatics/">Кафедра<br>экономической<br>информатики</a>
    </span>
    <span class="third-block department-item-2">
      <a href="/fm/departments/agricultural_economics/">Кафедра<br>экономики и<br>управления предприятиями АПК</a>
    </span>
    <span class="third-block department-item-3">
      <a href="/fm/departments/economic_cybernetics/">Кафедра<br>математических методов в экономике</a>
    </span>
    <span class="third-block department-item-4">
      <a href="/fm/departments/environmental_economics/">Кафедра<br>экономики природо-<br>пользования</a>
    </span>
    <span class="third-block department-item-5">
      <a href="/fm/departments/organization_and_management/">Кафедра<br>организации и<br>управления</a>
    </span>
    <span class="third-block department-item-6">
      <a href="/fm/departments/national_economy/">Кафедра<br>национальной<br>экономики и государ-<br>ственного управления</a>
    </span>
    <span class="third-block department-item-7">
      <a href="/fm/departments/industrial_economics/">Кафедра<br>экономики<br>промышленных<br>предприятий</a>
    </span>
  </div>
{% endblock %}
