{% extends "no_sidebar.html" %}
{% block main_content %}
  <h2>{{ page.title }}</h2>
  <div class="relax-container">
    <div class="relax-item">
      <div class="relax-img">
        <a href="/files/filosofiya_zizni.pps">
          <img src="/img/content/relax/presentation_9.jpg">
        </a>
      </div>
      <div class="relax-description">
        <a href="/files/filosofiya_zizni.pps">Философия жизни</a>
      </div>
    </div>
    <div class="relax-item">
      <div class="relax-img">
        <a href="/files/cvetochnaya_feeriya.pps">
          <img src="/img/content/relax/presentation_10.jpg">
        </a>
      </div>
      <div class="relax-description">
        <a href="/files/cvetochnaya_feeriya.pps">Цветочная феерия</a>
      </div>
    </div>
    <div class="relax-item">
      <div class="relax-img">
        <a href="/files/chudesa_prirodi.pps">
          <img src="/img/content/relax/presentation_11.jpg">
        </a>
      </div>
      <div class="relax-description">
        <a href="/files/chudesa_prirodi.pps">Чудеса природы</a>
      </div>
    </div>
    <div class="relax-item">
      <div class="relax-img">
        <a href="/files/eto_nado_uvidet.pps">
          <img src="/img/content/relax/presentation_12.jpg">
        </a>
      </div>
      <div class="relax-description">
        <a href="/files/eto_nado_uvidet.pps">Это надо увидеть</a>
      </div>
    </div>
    <div class="relax-item">
      <div class="relax-img">
        <a href="/files/rasslabtes.pps">
          <img src="/img/content/relax/presentation_1.jpg">
        </a>
      </div>
      <div class="relax-description">
        <a href="/files/rasslabtes.pps">А теперь расслабьтесь</a>
      </div>
    </div>
    <div class="relax-item">
      <div class="relax-img">
        <a href="/files/bratya_nashi_menshie.pps">
          <img src="/img/content/relax/presentation_2.jpg">
        </a>
      </div>
      <div class="relax-description">
        <a href="/files/bratya_nashi_menshie.pps">Братья наши меньшие</a>
      </div>
    </div>
    <div class="relax-item">
      <div class="relax-img">
        <a href="/files/buket_dlya_dryzei.pps">
          <img src="/img/content/relax/presentation_3.jpg">
        </a>
      </div>
      <div class="relax-description">
        <a href="/files/buket_dlya_dryzei.pps">Букет для друзей</a>
      </div>
    </div>
    <div class="relax-item">
      <div class="relax-img">
        <a href="/files/krasota_spaset_mir.pps">
          <img src="/img/content/relax/presentation_4.jpg">
        </a>
      </div>
      <div class="relax-description">
        <a href="/files/krasota_spaset_mir.pps">Красота спасет мир</a>
      </div>
    </div>
    <div class="relax-item">
      <div class="relax-img">
        <a href="/files/nepovtorimiy_mir.pdf">
          <img src="/img/content/relax/presentation_5.jpg">
        </a>
      </div>
      <div class="relax-description">
        <a href="/files/nepovtorimiy_mir.pdf">Неповторимый мир вокруг нас</a>
      </div>
    </div>
    <div class="relax-item">
      <div class="relax-img">
        <a href="/files/ob_etom_stoit_zadymatsya.pps">
          <img src="/img/content/relax/presentation_6.jpg">
        </a>
      </div>
      <div class="relax-description">
        <a href="/files/ob_etom_stoit_zadymatsya.pps">Об этом стоит задуматься</a>
      </div>
    </div>
    <div class="relax-item">
      <div class="relax-img">
        <a href="/files/smeyatsya_razreshaetsya.pps">
          <img src="/img/content/relax/presentation_7.jpg">
        </a>
      </div>
      <div class="relax-description">
        <a href="/files/smeyatsya_razreshaetsya.pps">Смеяться разрешается</a>
      </div>
    </div>
    <div class="relax-item">
      <div class="relax-img">
        <a href="/files/ulibnites.pps">
          <img src="/img/content/relax/presentation_8.jpg">
        </a>
      </div>
      <div class="relax-description">
        <a href="/files/ulibnites.pps">Подсмотрено с улыбкой</a>
      </div>
    </div>
    <div class="relax-item">
      <div class="relax-img">
        <a href="/files/just_about_friendship.pps">
          <img src="/img/content/relax/presentation_13.png">
        </a>
      </div>
      <div class="relax-description">
        <a href="/files/just_about_friendship.pps">Немного о дружбе</a>
      </div>
    </div>
    <div class="relax-item">
      <div class="relax-img">
        <a href="/files/bookoflife.pps">
          <img src="/img/content/relax/presentation_14.png">
        </a>
      </div>
      <div class="relax-description">
        <a href="/files/bookoflife.pps">Книга жизни</a>
      </div>
    </div>
    <div class="relax-item">
      <div class="relax-img">
        <a href="/files/rain_can_be_diffrent.pps">
          <img src="/img/content/relax/presentation_15.png">
        </a>
      </div>
      <div class="relax-description">
        <a href="/files/rain_can_be_diffrent.pps">Дождь бывает разным</a>
      </div>
    </div>
    <div class="relax-item">
      <div class="relax-img">
        <a href="/files/smile.pps">
          <img src="/img/content/relax/presentation_16.png">
        </a>
      </div>
      <div class="relax-description">
        <a href="/files/smile.pps">Улыбнись</a>
      </div>
    </div>
  </div>
{% endblock %}
