{% extends "no_sidebar.html" %}
{% block main_content %}
  <h2>{{ page.title }}</h2>
  <ul class="school-items">
    <li>
      <a href="/science/industrial-economics">
        Научно-педагогическая школа экономики и управления на предприятии
      </a>
    </li>
    <li>
      <a href="/science/economic-cybernetics">
        Научно-педагогическая школа математических методов экономики
      </a>
    </li>
    <li>
      <a href="/science/national-economy">
        Научно-педагогическая школа по национальной экономике
      </a>
    </li>
    <li>
      <a href="/science/organization-and-management">
        Научно-педагогическая школа управления производством
      </a>
    </li>
  </ul>
{% endblock %}
