{% extends"base.html" %}
{% block base_content %}
<div class="container-fluid">
  {% include"widgets/tags.html" %}
  {% block main_content %}
  <h2>{{ page.title }}</h2>
    <div class="teachers-alphabet">
      <ul>
          <li class="a">А</li>
          <li class="b">Б</li>
          <li class="v">В</li>
          <li class="g">Г</li>
          <li class="d">Д</li>
          <li class="e">Е</li>
          <li class="zh">Ж</li>
          <li class="z">З</li>
          <li class="i">И</li>
          <li class="k">К</li>
          <li class="l">Л</li>
          <li class="m">М</li>
          <li class="n">Н</li>
          <li class="o">О</li>
          <li class="p">П</li>
          <li class="r">Р</li>
          <li class="s">С</li>
          <li class="t">Т</li>
          <li class="f">Ф</li>
          <li class="h">Х</li>
          <li class="ch">Ч</li>
          <li class="sh">Ш</li>
          <li class="u">Ю</li>
        </ul>
    </div>
    <div class="teachers-container">

        <div class="teachers-a">
            <a href="/teachers/aksen/">Аксень Э.М.</a>
            <a href="/teachers/akulich/">Акулич В.А.</a>
            <a href="/teachers/asanovich/">Асанович В.Я.</a>
        </div>
        <div class="teachers-b">
            <a href="/teachers/badina/">Бадьина В.М</a>
            <a href="/teachers/baldin/">Балдин И.В.</a>
            <a href="/teachers/belousova/">Белоусова Т.Н.</a>
            <a href="/teachers/belyavskiy/">Белявский С.С.</a>
            <a href="/teachers/belyatskiy/">Беляцкий Н.П.</a>
            <a href="/teachers/berezun/">Березун О.А.</a>
            <a href="/teachers/bogdan/">Богдан Н.И.</a>
            <a href="/teachers/bogdashits/">Богдашиц Е.А.</a>
            <a href="/teachers/bodrova/">Бодрова Э.М.</a>
            <a href="/teachers/borodina/">Бородина Т.А.</a>
            <a href="/teachers/borodko/">Бородко Т.Л.</a>
            <a href="/teachers/bulova/">Булова А.Д.</a>
            <a href="/teachers/buhovets/">Буховец Т.В.</a>
        </div>
        <div class="teachers-v">
    <a href="/teachers/valetko/">Валетко В.В.</a>
    <a href="/teachers/vankovich/">Ванкович Г.Р.</a>
    <a href="/teachers/verenich_s_i/">Веренич С.И.</a>
    <a href="/teachers/verenich_v_a/">Веренич В.А.</a>
    <a href="/teachers/vorobieva/">Воробьева Т.В.</a>
    <a href="/teachers/vorontsova/">Воронцов Е.В.</a>
        </div>
        <div class="teachers-g">
    <a href="/teachers/garkavaya/">Гаркавая В.Г.</a>
    <a href="/teachers/geyzler/">Гейзлер П.С.</a>
    <a href="/teachers/gerasenko/">Герасенко В.П.</a>
    <a href="/teachers/germanovich/">Германович Т.М. </a>
    <a href="/teachers/gets/">Гец А.А.</a>
    <a href="/teachers/gulin/">Гулин В.Н.</a>
    <a href="/teachers/gulina/">Гулина О.В.</a>
        </div>
        <div class="teachers-d">
    <a href="/teachers/dezurko/">Дежурко Л.Ф.</a>
    <a href="/teachers/deniseiko/">Денисейко И.В.</a>
    <a href="/teachers/dovidova/">Довыдова О.Г.</a>
    <a href="/teachers/dorina/">Дорина Е.Б.</a>
       </div>
        <div class="teachers-e">
    <a href="/teachers/egorov/">Егоров С.А.</a>
    <a href="/teachers/efremov/">Ефремов А.А.</a>
        </div>
        <div class="teachers-zh">
    <a href="/teachers/zelezko/">Железко Б.А. </a>
    <a href="/teachers/zeludovich/">Желудкевич М.Е.</a>
    <a href="/teachers/zudro/">Жудро М.К. </a>
        </div>
        <div class="teachers-z">
    <a href="/teachers/zenovchik/">Зеновчик Ю.М.</a>
    <a href="/teachers/zenko/">Зенько С.Н.</a>
    <a href="/teachers/zorina/">Зорина И.В.</a>
    <a href="/teachers/zubik/">Зубик Д.В.</a>
        </div>
        <div class="teachers-i">
    <a href="/teachers/ilyin/">Ильин А.И.</a>
    <a href="/teachers/ionin/">Ионин В.С.</a>
        </div>
        <div class="teachers-k">
    <a href="/teachers/kashanskaya/">Кашанская И.П.</a>
    <a href="/teachers/kienya/">Киеня Е.А.</a>
    <a href="/teachers/klimov/">Климов Ю.В.</a>
    <a href="/teachers/kovshirko/">Ковширко Н.М.</a>
    <a href="/teachers/korzun/">Корзун Т.С.</a>
    <a href="/teachers/kruk/">Крюк Е.В.</a>
    <a href="/teachers/kuropatenkova/">Куропатенкова И.Н.</a>
        </div>
        <div class="teachers-l">
    <a href="/teachers/lavrova/">Лаврова Е.В.</a>
    <a href="/teachers/lagodich/">Лагодич Л.В.</a>
    <a href="/teachers/lashuk/">Лашук С.В.</a>
    <a href="/teachers/leschilovskiy/">Лещиловский П.В.</a>
    <a href="/teachers/litvinets/">Литвинец В.И.</a>
    <a href="/teachers/loban/">Лобан Л.А.</a>
    <a href="/teachers/lopachuk/">Лопачук О.Н. </a>
    <a href="/teachers/lubasheva/">Лубашева Т.В.</a>
    <a href="/teachers/lysenkova/">Лысенкова М.В.</a>
        </div>
        <div class="teachers-m">
    <a href="/teachers/maevskaya/">Маевская А.В.</a>
    <a href="/teachers/markusenko/">Маркусенко Н.М.</a>
    <a href="/teachers/medvedeva/">Медведева О.С.</a>
    <a href="/teachers/miksuk/">Миксюк С.Ф.</a>
    <a href="/teachers/mironenko/">Мироненко В.А.</a>
    <a href="/teachers/mozol/">Мозоль А.В.</a>
    <a href="/teachers/molohovich/">Молохович М.В.</a>
    <a href="/teachers/moroz/">Мороз В.В. </a>
        </div>
        <div class="teachers-n">
    <a href="/teachers/naganovich/">Наганович А.Н.</a>
    <a href="/teachers/nemtsova/">Немцова Г.А.</a>
    <a href="/teachers/nehorosheva/">Нехорошева Л.Н.</a>
        </div>
        <div class="teachers-o">
    <a href="/teachers/oginskaya/">Огинская А.В.</a>
    <a href="/teachers/oskin/">Оськин Д.А.</a>
        </div>
        <div class="teachers-p">
    <a href="/teachers/panochina/">Паночина Е.М.</a>
    <a href="/teachers/panferov/">Панферов В.Л.</a>
    <a href="/teachers/paraschenko/">Паращенко В.В.</a>
    <a href="/teachers/petkevich/">Петкевич М.А.</a>
    <a href="/teachers/petrichenko/">Петриченко Е.В.</a>
    <a href="/teachers/petrovich/">Петрович М.В.</a>
    <a href="/teachers/plugachev/">Плюгачев В.В.</a>
    <a href="/teachers/podgornaya/">Подгорная Г.Н.</a>
    <a href="/teachers/punchik/">Пунчик З.В.</a>
    <a href="/teachers/pyko/">Пыко В.Т.</a>
        </div>
        <div class="teachers-r">
    <a href="/teachers/romanova/">Романова Е.С.</a>
    <a href="/teachers/rudak/">Рудак И.К.</a>
    <a href="/teachers/rudenkov/">Руденков В.М.</a>
    <a href="/teachers/rutkovskiy/">Рутковский Р.А.</a>
        </div>
        <div class="teachers-s">
    <a href="/teachers/samara/">Самара Н.А.</a>
    <a href="/teachers/sviderskaya/">Свидерская О.В.</a>
    <a href="/teachers/sinica/">Синица Л.М.</a>
    <a href="/teachers/sinyavskaya/">Синявская О.А.</a>
    <a href="/teachers/smolskaya/">Смольская Н.А.</a>
    <a href="/teachers/smolskiy/">Смольский А.П.</a>
    <a href="/teachers/sous/">Соусь В.И.</a>
        </div>
        <div class="teachers-t">
    <a href="/teachers/tarasevich_v_i/">Тарасевич В.И.</a>
    <a href="/teachers/tarasevich_z_k/">Тарасевич Ж.К.</a>
    <a href="/teachers/teleznikov/">Тележников В.И.</a>
    <a href="/teachers/terehov/">Терехов И.И.</a>
    <a href="/teachers/tihonenko/">Тихоненко Т.П.</a>
    <a href="/teachers/tkachenko/">Ткаченко С.С.</a>
    <a href="/teachers/trushin/">Трушин Ю.М.</a>
    <a href="/teachers/turko/">Турко В.А.</a>
        </div>
        <div class="teachers-f">
    <a href="/teachers/filipovich/">Филипович Т.Н.</a>
        </div>
        <div class="teachers-h">
    <a href="/teachers/holod/">Холод Н.И.</a>
        </div>
        <div class="teachers-ch">
    <a href="/teachers/chitaya/">Читая Г.О. </a>
        </div>
        <div class="teachers-sh">
    <a href="/teachers/shavruk/">Шаврук Е.Ю.</a>
    <a href="/teachers/shibeko/">Шебеко Н.Г.</a>
    <a href="/teachers/shimova/">Шимова О.С.</a>
    <a href="/teachers/shipikov/">Шипиков Л.К.</a>
    <a href="/teachers/sholomitskaya/">Шоломицкая М.М.</a>
        </div>
        <div class="teachers-u">
    <a href="/teachers/ufreeva/">Юферева О.Д.</a>
        </div>

        <p>
            Профессия педагога – одна из важнейших в обществе, от его усилий зависит будущее страны. Преподаватель – это единственный человек, который большую часть своего времени профессионально занимается обучением, воспитанием и развитием молодого поколения, что выступает главными составляющими его деятельности. Так было и будет всегда.

            Преподаватели факультета менеджмента – люди особенные. Они увлеченные, интересные и не только как педагоги, но как ученые и воспитатели, которыми можно гордиться.

            Педагог, в первую очередь, должен быть высокоинтеллектуальным человеком, тогда он будет интересен и своим ученикам. Именно этому принципу следуют наши преподаватели, совершенствуясь в своей профессии. Свидетельство тому – учебная и научная биография каждого из них.
        </p>
    </div>

    {% endblock %}
</div>
{% endblock %}