{% extends "base.html" %}
{% block base_content %}
    <div class="container-fluid">
        <div class="row-fluid">
         <div class="span12" id="headimage">
                <img src="/img/headers/{{ page.slug }}.jpg" alt="{{ page.title }}"/>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span8" id="schedule-display">
                <!--displaying main page content-->
                 <br/>
                 {%block main_content%}{%endblock%}                
            </div>
            <div class="span4" id="student-info">
                <!--page sidebar-->
                    <br/>  
                {%block sidebar_content%}{%endblock%}
            </div>
        </div>
    </div>
{% endblock %}